
<div class="form-query">
    <form class="form-inline clearfix" action="/list">
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" name="name" class="form-control" value="{{form.name}}">
        </div>
        <div class="form-group">
                <label for="type">类型</label>
                <select class="form-control" name="type">
                    <option value="" >请选择类型</option>
                    {% set types = ['js', 'html', 'css', 'other'] %}
                    {% for type in types %}
                        {% if type === form.type %}
                        <option value="{{type}}" selected>{{type}}</option>
                        {% else %}
                        <option value="{{type}}" >{{type}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
            </div>
        
        <div class="pull-right">
            <button type="submit" class="btn btn-primary">查询</button>
            <button type="button" name="reset" class="btn btn-primary">重置</button>
            <a name="add" class="btn btn-primary" href="/operate">添加</a>
        </div>
    </form>
</div>
<div class="table-responsive">
  <table class="table table-hover table-bordered table-striped">
      <thead>
          <tr>
              <th>ID</th>
              <th>书名</th>
              <th>类型</th>
              <th>价格</th>
              <th>页数</th>
              <th>操作</th>
          </tr>
      </thead>
      <tbody>
          {% for book in books %}
              <tr>
                  <td>{{ book.id }}</td>
                  <td>{{ book.name }}</td>
                  <td>{{ book.type }}</td>
                  <td>{{ book.price }}</td>
                  <td>{{ book.pages }}</td>
                  <td>
                      <a name="edit" href="/operate?id={{book.id}}" class="btn btn-primary">编辑</a>
                      <button type="button" name="delete" class="btn btn-primary" data-id="{{book.id}}">删除</button>
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>