<form class="row">
    <div class="col-md-5 col-md-pull-5 col-md-offset-5 form-group has-feedback">
        <label for="name">name</label>
        <input type="text" name="name" class="form-control" placeholder="please enter your name">
    </div>
    <div class="col-md-5 col-md-pull-5 col-md-offset-5 form-group has-feedback">
        <label for="price">password</label>
        <input type="password" name="password" class="form-control" placeholder="pLease enter your password">
    </div>
    <div class="col-md-5 col-md-pull-5 col-md-offset-5">
        <button type="submit" class="btn btn-primary">提交</button>
    </div>
</form>