{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{% parent %}
<!-- 引入额外的静态 -->
{% endblock %}

{% block content %}
<form class="row">
    <input type="text" name="id" hidden value="{{book.id}}">
    <div class="col-md-5 col-md-pull-5 col-md-offset-5 form-group has-feedback">
        <label for="name">书名</label>
        <input type="text" name="name" class="form-control" placeholder="please enter the book name" value="{{book.name}}">
    </div>
    <div class="col-md-5 col-md-pull-5 col-md-offset-5 form-group has-feedback">
        <label for="price">价格</label>
        <input type="text" name="price" class="form-control" placeholder="pLease enter the book price" value="{{book.price}}">
    </div>
    <div class="col-md-5 col-md-pull-5 col-md-offset-5 form-group has-feedback">
        <label for="pages">总页码</label>
        <input type="text" name="pages" class="form-control" placeholder="please enter the book pages" value="{{book.pages}}">
    </div>
    <div class="col-md-5 col-md-pull-5 col-md-offset-5 form-group has-feedback">
        <label for="type">类型</label>
        <select class="form-control" name="type">
            <option value="" >请选择类型</option>
            {% set types = ['js', 'html', 'css', 'other'] %}
            {% for type in types %}
                {% if type === book.type %}
                <option value="{{type}}" selected>{{type}}</option>
                {% else %}
                <option value="{{type}}" >{{type}}</option>
                {% endif %}
            {% endfor %}
          </select>
    </div>
    <div class="col-md-5 col-md-pull-5 col-md-offset-5">
        <button type="button" name="operate" class="btn btn-primary">提交</button>
    </div>
</form>
{% endblock %}

